.logo
.login
      .username
            label(for="username") Username
            input#username
      .password
            label(for="password") Password
            input#password(type="password")
      .buttons
            button#button(onclick="login()") Login
            a(href="/signup") Sign Up ?
      p= message
      