section.hero.is-info.is-fullheight
      .hero-body 
            .container.is-max-desktop 
                  .columns
                        .column.is-two-fifths 
                              section.is-large
                                    .title Password Generator
                                    .subtitle Generate a secure password from 4 to 32 characters with the options of your choice.
                        .column.is-three-fifths 
                              section.is-large
                                    .field.has-addons
                                                p.control.is-expanded
                                                      input.input(type="text" placeholder="Your Password Here")
                                    .field.has-addons
                                          p.control.is-expanded
                                                input.input(type="number" min="0" max="64" placeholder="Password Length")
                                          p.control
                                                a.button Generate
                                    .field.is-expanded.is-full-width
                                          h2.subtitle Choose your options
                                    .field
                                          .buttons.is-left
                                                .button.is-success.is-selected UpperCase
                                                .button LowerCase
                                                .button Numbers
                                                .button Special Characters
                                    
            