
section.hero.is-info.is-halfheight
      .hero-body 
            .container.is-max-desktop 
                  .columns
                        .column.is-two-fifths 
                              section.is-large
                                    .title Password Generator
                                    .subtitle Generate a secure password from 4 to 64 characters with the options of your choice.
                        .column.is-three-fifths 
                              section.is-large
                                    .field.has-addons
                                                p.control.is-expanded
                                                      input#password.input(type="text" placeholder="Your Password Here")
                                    .field.has-addons
                                          p.control.is-expanded
                                                input#length.input(value="8" type="number" min="4" max="64" placeholder="Password Length")
                                          p.control
                                                a#submit.button Generate
                                    .field.is-expanded.is-full-width
                                          h2.subtitle Choose your options
                                    .field
                                          .buttons.is-left
                                                #lowercase.button.is-success LowerCase
                                                #uppercase.button UpperCase
                                                #number.button Numbers
                                                #special.button Special Characters

section.hero.is-halfheight
      .hero-body
            .container.is-max-desktop
                  .columns
                        .column.is-two-fifths 
                              section.is-large
                                    .title Make a New Password
                                    .subtitle Save the generated password for later use!
                        .column.is-three-fifths 
                              section.is-large
                                    .field
                                          p.control.is-expanded
                                                input.input(type="text" placeholder="Account")
                                    .field
                                          p.control.is-expanded
                                                input.input(type="text" placeholder="Username")
                                    .field.has-addons
                                          p.control.is-expanded
                                                input.input(type="text" placeholder="Password")
                                          p.control
                                                a#save.button Save
                                          p.control
                                                a#copy.button Copy
                  .columns
                        .column.is-full-width
                              section.is-large
                                    table.table.is-fullwidth
                                          tbody
                                                tr(Key="testkey1")
                                                      td#account facebook
                                                      td#username nate.delduca@gmail.com
                                                      td#password n4th4n43l
                                                tr(Key="testkey2")
                                                      td#account facebook
                                                      td#username nate.delduca@gmail.com
                                                      td#password n4th4n43l
                                                tr(Key="testkey3")
                                                      td#account facebook
                                                      td#username nate.delduca@gmail.com
                                                      td#password n4th4n43l

footer.footer
      .content.has-text-centered
            p | 
              |    <strong>nated.ca</strong> This is nate typing in a description about he password management app I am making.

            