script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
script(src="https://myCDN.com/prism@v1.x/components/prism-core.min.js")
script(src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js")
script(src="js/functions.js")
